* {
  box-sizing: border-box;
}
:root {
  --nav-text-black:#5b5b5b;
  --border-grey:#dfe1e5;
  --nav-text-white:#f0f6fe;
  --normal-grey-button:#f8f9fa;
  --blue-button-bg:#1a73e8;
  --normal-grey-button-text:#626567;
  --footer-text-grey:#797e82;
  --footer-bg:#f2f2f2;
}
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: sans-serif;
  display: grid;
  grid-template-areas: "header"
                       "main"
                       "footer";
  grid-template-rows: minmax(60px, auto) 1fr 100px;
}
body >* {
  /* border: 1px solid black; */
}

/* menu dots */
.dots-item {
  display: block;
  position: relative;
}
.google-apps-closed-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 2px;
  padding: 10px;
}
.google-apps-closed-container:hover {
  background: var(--footer-bg);
  border-radius: 50%;
}
.dot {
  display: inline-block;
  height: 4px;
  width: 4px;
  background: var(--nav-text-black);
  border-radius: 6px;
}


/* header */
.header {
  grid-area: header;
  /* background: blue; */
  /* padding: 1rem; */
  display: flex;
  justify-content: flex-end;
}
.top-nav {
  /* background: red; */
  padding: 0;
  font-size: 12px;
}
.top-nav__list {
  display: flex;
  align-items: center;
  list-style: none;
  /* margin-right: 10px; */
}
.top-nav__list a {
  display: inline-block;
  text-decoration:none;
  color: var(--nav-text-black);
}
.top-nav__list a:hover {
  text-decoration: underline;
}
a.button:hover {
  text-decoration: none;
}
.top-nav__list a:active,
.top-nav__list a:visited  {
  color: inherit;
}

.top-nav__list-item {
  /* border: 1px solid black; */
  /* padding: 10px; */
  margin-right: 20px;
}

.button {
  border: 1px solid transparent;
  display: inline-block;
  border-radius: 6px;
  padding: 8px;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.button-big {
  /* padding: 4px; */
  cursor: pointer;
  color: var(--normal-grey-button-text);
  background: var(--normal-grey-button);

}
.bg-blue {
  background: var(--blue-button-bg);
}
.bg-blue:hover {
  filter: brightness(120%);
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
}
.cta {
  padding: 10px 25px;
  border-color: var(--nav-text-white);
  color: var(--nav-text-white) !important;
}

/* body */

.body-content {
  grid-area: main;
  /* background: plum; */
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  /* background: red; */
  margin-top: 26px;
}
.input-search-container {
  /* border: 1px solid black; */
  display: flex;
  width: 48vw;

}
.input-search {
  border:1px solid var(--border-grey);
  /* background: blue; */
  width: 100%;
  padding: 14px;
  border-radius: 50px;
  margin-bottom: 18px;
  transition: all 0.1s ease-in-out;


}
.input-search:active,
.input-search:focus,
.input-search:hover
 {
   outline:none;
   box-shadow: 1px 1px 10px rgba(0,0,0,0.2);
}
.buttons-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(100px, 150px));
  justify-content: center;
  margin: 10px auto;
  /* background: green; */
}

.button-big:hover {
  border-color: var(--border-grey);
  box-shadow: 1px 1px 10px rgba(0,0,0,0.1);
  filter: luminosity(120%);
}

/* footer  */
.footer {
  background: var(--footer-bg);
  grid-area: footer;
  font-size: 14px;
  /* padding: 1rem; */
  display: grid;
  grid-template-rows: auto auto;
  /* grid-template-columns: auto auto auto; */
  color: var(--footer-text-grey);
}
.footer-top {
  box-sizing: border-box;
  grid-column: 1 / -1;
  padding-left: 40px;
  border-bottom: 1px solid var(--border-grey);
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
}
.list-left,
.list-right {
  display: flex;
  list-style: none;
}

.list-item {
  margin-right: 20px;
}

.list-item a {
  text-decoration: none;
  color: inherit;
}
.list-item a:hover {
  text-decoration: underline;
}



/* apps modal/pannel */

.google-apps-panel {
  position: absolute;
  top: 40px;
  right: -80px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 8px;
  padding: 14px;
  /* width: 10vw; */
  border: 1px solid var(--border-grey);
  max-height: 80vh;
  overflow-y: scroll;
  border-radius: 6px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.app-container {
  width: 70px;
  height: 60px;
  background: plum;
  border-radius: 6px;
}
.app-container:nth-child(odd) {
  background: dodgerblue;
}
.hidden {
  display: none;
}
.visible {

}
